body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(6, 38, 48, 0.5);
    
}
header {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: auto;
    margin: 0;
    padding: 0;
    background-image: url('sky.jpeg');
    background-size: cover;
    background-position: bottom;
    font-family: 'Special Elite', cursive;
    
}
.header-cover {
    margin: 0;
    padding: 0;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, .05);
    object-fit: cover;
}
li {
    margin: 0 5%;
    padding: 0;
    list-style: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, .7);
    height: 40px;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 0;
    font-size: 23px;
    text-decoration: none;
    color: lightseagreen;
    
}
a:hover {
    text-decoration: underline;
    color: rgba(142, 238, 228, .9);
    font-size: 25px;
}
footer {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
section {
    text-align: center;

}
h1{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
        
}
h2 {
    font-family: 'Poiret One', cursive;
}
p {
    font-family: 'Montserrat', sans-serif;
}
