body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    text-align: center;

    padding: 0;
    margin: 0;
}
.container {
    background-color: rgb(113, 144, 153);
    margin: 0;
    padding: 0;

}
header {
    /* position: fixed; */
    background-image: url('sky.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
}
.header-cover {
    margin: 0;
    padding: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: rgba(255, 255, 255, .05); */
    object-fit: cover;
}
.header-cover h1 {
    margin: 200px 0;
    color: white;
    font-weight: 900;
}
li {
    margin: 0 20%;
    padding: 0;
    list-style: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
}
ul {
    background-color: rgba(0, 0, 0);    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0 auto;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 0;
    font-size: 23px;
    text-decoration: none;
    color: lightseagreen;
    
}
a:hover {
    text-decoration: underline;
    color: rgba(142, 238, 228, .9);
    font-size: 25px;
}
footer {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
section {
    text-align: center;

}
h1{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    font-weight: 900;

}
h2 {
    font-family: 'Poiret One', cursive;
    font-weight: 900;
}
p {
    font-family: 'Montserrat', sans-serif;
}
.project-container {
    display: inline-block;
}
.project-img {
    position: relative;
    float: left;
}
.project-about {
    position: relative;
    float: right;
}
/* skills */
.grid {
    display: grid;
}
.row {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 0;
}
.skills-header {
    font-size: 40px;
    color: white;
    border-top: 5px solid, white;
    
}
.col {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    padding: 0;
    font-weight: 900;
}

/* ************************** */
/* HTML */
/* 
<img class="leaves" id="leaf" src="img/leaf-2.png" alt="leaf">
<img class="leaves" src="img/leaf-2.png" alt="leaf">
<img class="leaves" src="img/leaf-2.png" alt="leaf">

<img class="leaves" src="img/leaf-3.png" alt="leaf">
<img class="leaves" src="img/leaf-3.png" alt="leaf">
<img class="leaves" src="img/leaf-3.png" alt="leaf">
<img class="leaves" src="img/leaf-3.png" alt="leaf">

<img class="leaves" src="img/leaf-1.png" alt="leaf">
<img class="leaves" src="img/leaf-1.png" alt="leaf">
<img class="leaves" src="img/leaf-1.png" alt="leaf">
<img class="leaves" src="img/leaf-1.png" alt="leaf">

<img class="leaves" src="img/leaf-2.png" alt="leaf">
<img class="leaves" src="img/leaf-2.png" alt="leaf">
<img class="leaves" src="img/leaf-2.png" alt="leaf"> */

 /* leaves */
 .leaves {
    /* width: 50px; */
    /* display: relative; */
    height: 25px;
    animation-name: fall;
    animation-duration: 30000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-name: fall;
    -webkit-animation-duration: 30000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: fall;
    -moz-animation-duration: 30000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: fall;
    -ms-animation-duration: 30000ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    transition: rotate(3600deg);
    -o-transition: rotate(3600deg);
}
@keyframes fall {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    100% { transform: translate(50px, 500px) rotate(20deg); }
    
    /* 10% { transform: translate(100px, 100px) rotate(40deg); }
    20% { transform: translate(200px, 200px) rotate(40deg); }
    30% { transform: translate(300px, 280px) rotate(30deg); }
    40% { transform: translate(400px, 330px) rotate(20deg); }
    50% { transform: translate(500px, 360px) rotate(40deg); }
    60% { transform: translate(600px, 340px) rotate(30deg); }
    70% { transform: translate(700px, 300px) rotate(20deg); }        50% { transform: translate(250px, 200px) rotate(40deg); }
    80% { transform: translate(800px, 250px) rotate(30deg); }
    90% { transform: translate(900px, 210px) rotate(20deg); }
    100% { transform: translate(1000px, 180px) rotate(20deg); } */
    
}
