@media only screen and (max-width: 500px) {
    h1 {
        font-size: 15pt;
        letter-spacing: 10px;
    }
}
@media only screen and (max-width: 800px) 
{
    .fixed, .scrollDown {
        display: none;
    }
    .navMobile {
        z-index: 9;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100vw;
        background-color: rgb(247, 115, 8);
        font-size: 10pt;
    }
    .navMobile a {
        color: #fff;
        text-decoration: none;
        margin: 12px 8px;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about h2{
        max-height: 100vh;
        margin: 0;
    }
    .contact {
        min-height: 100vh; 
    }
    .social-group {
        width: 90vw;
    }
    .portfolio-fullview, .about-fullview {
        padding: 0;
    }
    .resumeImg {
        max-width: 100vw;
    }

}