body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: rgb(25, 34, 49);
    font-weight: 900;
    text-align: center;
    font-family: Montserrat, arial, sans-serif;

}
.name {
    margin: 0;
    padding: 10%;
    letter-spacing: 2px;
}
.tagline {
    font-size: 16px;
}
.header-cover {
    border-bottom: 10px solid #192231;
    border-top: 20px solid #192231;

}
/* NAV */
nav {
    
    border-top: 10px solid #192231;
    border-bottom: 10px solid #192231;
    box-sizing: border-box;
    background-color:  #494E6B;
    height: 400px;
    width: 100%;
    margin: 0;

}
.nav-cover {
    /* img */
    height: 100%;
    background-image: url("img/tribal_tree.png");
    background-size: contain;
    background-repeat: no-repeat;

}
.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(152, 94, 109, 1);
}
.nav-buttons button {
    width: 15%;
    margin: 2% auto;
    padding: 0;
    list-style: none;
    background-color: transparent;
    border: none;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

/* end NAV */

/* content */

main {
    margin: 0;
}
h3 {
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: #985E6D;
    line-height: 100%;
    color: #192231
}
.projects h3 {
    background-color: #98878F
}
a:hover {
    font-family: Special Elite;
    text-decoration: underline;
    color: #192231;
    font-size: 22px;
    text-outline: 1px 1px white;
}
.about {
    border-bottom: 10px solid #192231;
    border-top: 10px solid #192231;
    box-sizing: border-box;

    width: 100%;
    margin: 0;
    padding: 20% 10%;

}
.projects {
    border-bottom: 10px solid #192231;
    border-top: 10px solid #192231;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    background-color: #494E6B;
    color: white;
}
.projects p {
    padding: 10px 20px 0;
    color: #192231;
    font-weight: 100;
    letter-spacing: 1px;
}
.contact {
    border-bottom: 10px solid #192231;
    border-top: 10px solid #192231;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5%;
    
}
.contact a {
    color: #192231;
    line-height: 80px;
}
footer {
    box-sizing: border-box;
    background-color: #192231;
    color: #985E6D;
    text-align: center;
    height: 100px;
}

/* projects */

.project-solo {
    /* border: solid 2px black; */
    width: 75%;
    margin: 10% auto;
    background-color: #192231;
}
.project-img img {
    width: 100%; 
}
.project-img {
    box-sizing: border-box;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;

}
.project-desc {
    box-sizing: border-box;   
    width: 100%;
    margin: 0;
    padding: 5%;
    background-color: rgba(255, 255, 255, .6);
    
}

    /* bird */
   
    .bird {
   
        position: relative;
        left: -130px;
        top: 310px;

        height: 75px;
        animation-name: fall;
        animation-duration: 8000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        -webkit-animation-name: fall;
        -webkit-animation-duration: 8000ms;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: fall;
        -moz-animation-duration: 8000ms;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -ms-animation-name: fall;
        -ms-animation-duration: 8000ms;
        -ms-animation-iteration-count: 1;
        -ms-animation-timing-function: linear;
        transition: rotate(3600deg);
        -o-transition: rotate(3600deg);
    }
    
    @keyframes fall {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        
        20% { transform: translate(1px, 1px) rotate(0deg);}
        30% { transform: translate(200px, -50px) rotate(0deg);}
        40% { transform: translate(400px, -100px) rotate(10deg);}
        50% { transform: translate(600px, -150px) rotate(0deg);}
        60% { transform: translate(800px, -180px) rotate(10deg);}
        70% { transform: translate(1000px, -200px) rotate(0deg);}
        80% { transform: translate(1200px, -230px) rotate(10deg);}
        90% { transform: translate(1400px, -250px) rotate(0deg);}
        100% { transform: translate(1500px, -280px) rotate(10deg);}
    }


@media screen and (min-width: 600px) {
    /* large screens */
    .header-cover {
        border-top: 50px solid #192231;
    }
    .projects {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
    .projects h3 {
        width: 100%;
        height: 50px;
    }
    /* projects */
    .project-solo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 40%;
        margin: 10% auto;

    }
    .project-img img {
        width: 100%; 
    }
    .project-img {
        box-sizing: border-box;
        object-fit: contain;
        overflow: hidden;

        width: 100%;
        margin: 0;
        padding: 0;

    }
    .project-desc {
        box-sizing: border-box;
        height: 200px;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, .6);
    }

    /* bird */
    .bird {
        position: relative;
        left: -550px;
        top: 310px;
        height: 75px;
    }

}
