.hidden {
    display: none;
}

body {
    /* background-color: rgb(0, 89, 191); */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: rgb(25, 34, 49);
    font-weight: 900;
    text-align: center;
    font-family: Montserrat, arial, sans-serif;

}
.name {
    margin: 0;
    padding: 10%;
    letter-spacing: 2px;
}
.tagline {
    font-size: 16px;
}
.header-cover {
    border-bottom: 10px solid #192231;
    border-top: 20px solid #192231;
}
.portrait {
    /* height: 20%; */
    width: 20%;
    border-radius: 100%;
    margin: 20px auto;
}

/* NAV */
nav {
    
    box-sizing: border-box;
    background-color:  #494E6B;
    height: 0;
    width: 100%;
    margin: 0;

}
.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(152, 94, 109, 1);
}
.nav-buttons button {
    width: 15%;
    margin: 2% auto;
    padding: 0;
    list-style: none;
    background-color: transparent;
    border: none;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

/* end NAV */

/* content */

main {
    margin: 0;
}
.wrapper {
    background-image: url("img/tom-barrett.jpg");
    background-size: cover;
}
h3 {
    margin: 0;
    padding: 20px 0 10px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: #985E6D;
    line-height: 100%;
    color: #192231
}
.projects h3 {
    background-color: #98878F
}
a:hover {
    font-family: Special Elite;
    text-decoration: underline;
    color: #192231;
    font-size: 22px;
    text-outline: 1px 1px white;
}
.about {
    border-bottom: 10px solid #192231;
    border-top: 10px solid #192231;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5% 10%;
}
.para {
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 1));
    padding: 2%;
    box-shadow: 1px 5px 10px;
}
.projects {
    border-bottom: 10px solid #192231;
    border-top: 10px solid #192231;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    background-color: #494E6B;
    color: white;
}
.projects p {
    padding: 10px 20px 0;
    color: #192231;
    font-weight: 100;
    letter-spacing: 1px;
}
.contact {
    border-bottom: 10px solid #192231;
    border-top: 10px solid #192231;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5%;
    
}
.contact a {
    color: #192231;
    line-height: 80px;
}
footer {
    box-sizing: border-box;
    background-color: #192231;
    color: #985E6D;
    text-align: center;
    height: 100px;
}

/* projects */

.project-solo {
    width: 75%;
    margin: 10% auto;
    background-color: #192231;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, .5);
}
.project-img img {
    width: 100%; 
}
.project-img {
    box-sizing: border-box;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;

}
.project-desc {
    box-sizing: border-box;   
    width: 100%;
    margin: 0;
    padding: 5%;
    background-color: rgba(255, 255, 255, .6);
    
}
.contact-img a {
    border: 1px solid black;
    background-color: rgba(152, 94, 109, .9);
    padding: 2%;
    margin: 0 20px;
}


@media screen and (min-width: 600px) {
    /* large screens */
    .header-cover {
        border-top: 50px solid #192231;
    }
    .projects {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
    .projects h3 {
        width: 100%;
        height: 50px;
    }
    /* projects */
    .project-solo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 25%;
        margin: 10% auto;
    }
    .project-img img {
        width: 100%; 
    }
    .project-img {
        box-sizing: border-box;
        object-fit: contain;
        overflow: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .project-desc {
        box-sizing: border-box;
        min-height: 200px;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, .6);
    }

}
